.cabecalho{
    background-color: blue;
    display:flex;
}
.cabecalho h1{
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
}
p.regras input[type="checkbox"]{
    display: none;
}
.regras h1{
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.regras h1:hover{
    background-color: rgb(183, 183, 183);
}
.regras .conteudo{
    display:none;
}
.regras input[type="checkbox"]:checked ~ .conteudo{
    display:block;
}